VITE_API_BASE_URL=http://localhost:8000/api
VITE_CAKTO_CHECKOUT_URL=https://pay.cakto.com.br/qgza2fd_977495
VITE_CAKTO_CHECKOUT_URL_MENTE_DESENVOLVIMENTO_PESSOAL=https://pay.cakto.com.br/qgza2fd_989199
VITE_CAKTO_CHECKOUT_URL_CARREIRA_NEGOCIOS_DINHEIRO=https://pay.cakto.com.br/qgza2fd_989202
VITE_CAKTO_CHECKOUT_URL_HISTORIA_SOCIEDADE=https://pay.cakto.com.br/qgza2fd_989204
